.codeblock{
    background: #d0e9de;
    font-family: "Courier";
    font-size: .8em;
    padding: 15px;
    overflow: scroll;
    white-space: nowrap;
}

.pseudocode{
    background: #F3F3F3;
    width: 60%;
}

.heavy{
    font-weight: 700;
}

.more{
    background-color: #FFF0A5;
}